<%- include ../header.ejs %>
<div class="card-block">
    <fieldset>
      <form action="/question/update/<%= data.id %>" method="post">
        <table width="100%">
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><select  name="user_id"><option value="<%=data.user_id%>"><%=data.User.name%></option>
            </select></td>
          </tr>
          <tr>
            <td>Question</td>
            <td>:</td>
            <td><textarea name="question" rows="8" cols="80"><%=data.question%></textarea></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><button type="submit">Submit Question</button></td>
          </tr>
          <tr>
            <td colspan="3"><a href="../../">BACK</a></td>
          </tr>
        </table>
      </form>
    </fieldset>
  </div>
<%- include ../footer.ejs %>
