

<!DOCTYPE html>
<html>
  <head>
    <title>nanyain.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <fieldset>
      <p><b><%=question.User.name%></b> asks :</p>
      <p><%=question.question%></p>
      <p>
        <a href="/tags/add/<%=question.id%>">Add Tags</a> | <a href="/answer/add_answer/<%=question.id%>">Answer</a> | <a href="/question/edit/<%=question.id%>">Edit</a>
      </p>
    </fieldset>
    <%
      list.forEach((answer)=>{
    %>
    <fieldset>
      <p><b><%=answer.User.name%></b> answers :</p>
      <p><%=answer.answer%></p>
      <p>
        <a href="/answer/votes/<%=answer.id%>">Vote</a> <b>+<%=answer.votes%></b>
      </p>
    </fieldset>
    <%
      })
    %>

  </body>
</html>
